body {
	background-color: white;
	font-family:courier new
}
.right{
	float:right!important
}
.padding{
	padding:10px 10px!important
}
.top{
	position:fixed;
	width:100%;
	z-index:1;
	left:0;
	top:0
}
.section{
	font-size: 20px;
	background-color: tomato;
	display: table;
	color: white;
}
.right{float:right!important}
.padding{padding:10px 10px!important}
.top{position:fixed;width:100%;z-index:1;left:0;top:0}

.dropbtn {
  background-color: white;
  color: grey;
  padding: 16px;
  font-size: 16px;
  font-family:courier new;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 140px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: tomato}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: tomato;
}


